<div class="row my-3"></div>
<h1 class="pt-3 text-center">Update Customer</h1>
<div class="container mt-5" style="width: 25rem">
  <%= simple_form_for @customer do |f|%>
  <%= f.input :name %>
  <%= f.input :image_url %>
  <%= f.submit class: "btn btn-secondary" %>
  <% end %>
</div>
<div class="row my-3"></div>
