<div class="container mt-5">
  <h1>Customers</h1>
  <% if policy(Customer).new? %>
    <%= link_to "Add new customer", new_customer_path %>
  <% end %>
  <% @customers.each do |customer| %>
    <div class="card">
      <h1><%= link_to customer.name, customer_path(customer) %></h1>
      <% if customer.image_url %>
        <%= image_tag customer.image_url, class: "w-25 mh-25" %>
      <% end %>
      <%= render "foot", customer: customer %>
    </div>
  <% end %>
</div>
