<head>
  <meta charset="UTF-8">
  <title>Le Wagon - Web Development Sprint</title>

  <!-- Change these Google fonts with your own choice -->
  <link href="https://fonts.googleapis.com/css?family=Chivo:700|Overpass:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="application.scss">
</head>
  <body>
    <!-- Banner section -->
    <div class="banner">
      <h1>OneSubsea Controls Automation Software</h1>
      <p>The new way to interact with your subsea infrastructure</p>
      <a href="/softwares" class="btn btn-primary mt-3">See more ...</a>
    </div>
    <!-- Footer section -->
    <div class="footer">
      <div class="container">
        <p>Software made with ❤️ at OSS Celle</p>
      </div>
    </div>
  </body>
</html>
