<div class="container">
  <h1 class="p-2"><%= @software.title %></h1>
  <h3 class="p-2"><%= @software.price %> €</h2>
  <%= image_tag @software.image_url, class: "img-logo" %>
  <p class="p-2"><%= @software.description %></p>
</div>
