.carousel-caption h1 {
  color: white;
  font-size: 64px;
  text-shadow: 2px 2px 2px #111111;
}

.carousel-caption p {
  color: white;
  font-size: 24px;
  opacity: 0.8;
  margin: 64px;
  text-shadow: 2px 2px 2px #111111;
}
