<div class="row my-3"></div>
<h1 class="pt-3">Update Release</h1>
<div class="container mt-5" style="width: 25rem">
  <%= simple_form_for @release do |f|%>
  <%= f.input :version_number %>
  <%= f.input :software_url %>
  <%= f.submit %>
  <% end %>
</div>
<div class="row my-3"></div>
