<div class="container mt-5">
  <h1 class="pt-3">Create New Review</h1>
  <%= simple_form_for [@release,@review] do |f|%>
  <%= f.input :rating, as: :radio_buttons, collection: [['1 - excellent', 1],
                                                        ['2 - very good', 2],
                                                        ['3 - good', 2],
                                                        ['4 - sufficient', 4],
                                                        ['5 - weak', 5]] %>
  <%= f.input :comment %>
  <%= f.submit %>
  <% end %>
</div>
