<div class="container mt-5">
  <h1 class="pt-3">Create New Review</h1>
  <%= simple_form_for [@release,@review] do |f|%>
  <%= f.input :rating, as: :radio_buttons, collection: [['5 - excellent', 5],
                                                        ['4 - very good', 4],
                                                        ['3 - good', 3],
                                                        ['2 - sufficient', 2],
                                                        ['1 - weak', 1]] %>
  <%= f.input :comment %>
  <%= f.submit %>
  <% end %>
</div>
